body{
    background-color:#3b3b3b ;   
    color: #aca7a7; 
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hr-line{
    width: 60%;
    margin: auto;  
}
/* Style the buttons that are used to open and close the question body */
.question {    
    letter-spacing: 2px;
    font-size: 28px;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
span{
    color:rgba(230, 180, 18, 0.836);
}
.answer{
    font-size: 28px;    
    margin: auto;        
    width: 50%;     
    padding: 18px;    
    display: none;
    overflow: hidden;  
}

.active,.question:hover {
    background-color: #797070;
    border-radius: 10px;
}

.question:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;         
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";    
    /* Unicode character for "minus" sign (-) */
}