body{
    background-color:#3b3b3b ;   
    color: #aca7a7; 
    /* background-image: url(../img/banner.jpg); */
    background-position: center;
    background-size:cover;    
    background-repeat: no-repeat;    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hr-line{
    width: 60%;
    margin: auto;  
}
.question {    
    letter-spacing: 2px;
    font-size: 28px;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
span{
    color:rgba(230, 180, 18, 0.836);
}
.answer{
    font-size: 28px; 
    line-height: 1.6;   
    margin: auto;        
    width: 50%;     
    padding: 18px;    
    display: none;
    overflow: hidden;  
}

.active,.question:hover {
    background-color: #797070;
    border-radius: 10px;
}

.question::after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;         
    float: right;
    margin-left: 5px;
}
.active::after {
    content: "\2796";    
    /* Unicode character for "minus" sign (-) */
}
.Exercise1{
    width: 60%;
    margin: auto;
    text-align: right;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-top: 20px;
}
input{
    font-family: tahoma; 
    width: 3%;
    text-align: right;    
    padding: 5px;    
}
label{
    font-family: tahoma; 
    font-size: 20px;
}
.btnAnswer{    
    font-family: tahoma;
    color:#8ab4f8;
    text-decoration: none;
    border: 1px solid #8ab4f8;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.btnAnswer:active{
    color:#e8eaed;
    background-color: #8ab4f8;
}
.btnAnswer:hover{
    color:#e8eaed;
    border: 1px solid #9aa0a6;    
}
#bookChosen{
    font-family: tahoma;
    color:rgb(223, 201, 10);
    font-size: 24px;
    padding-right: 10px;
    
}

@media screen and (max-width:1000px) {
    input{             
        width: 8%;                
    }
    .question,.answer,label,#bookChosen{
        font-size: 16px;
    }
    
}

@media screen and (max-width:420px) {
    input{             
        width: 8%;                
    }    
    .question,.answer,label,#bookChosen{
        font-size: 12px;
    }    
}